{% extends "layout.html.twig" %}
{% block title %}技評コーヒー プログラマのあなたに美味しいコーヒーを{% endblock %}

{% block body %}
    <h1>技評コーヒー</h1>
    <ul>
        {% for item in items %}
        <li>
            <a href="{{path('coffee_item', {'id': item.id}) }}">
                {{ item.name }}
            </a>
            <a href="{{path('coffee_item', {'id': item.id}) }}">
                <img src="{{ item.photo_src }}" alt="{{ item.name }}">
            </a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
